<div class="card">
    <div class="card-header">
        <h4 class="mb-0">  {{ entity.id  }} -  {{
            entity.dateCreated | date }} </h4>
    </div>
    <div class="card-body">
{{ entity.firstName }}
{{ entity.lastName }}
{{ entity.gender }}
{{ entity.dob }}
{{ entity.image }}
{{ entity.email }}
{{ entity.city }}
{{ entity.country }}
{{ entity.bankInfo }}
    </div>
    <div class="card-footer">
        <button class="btn btn-default" (click)="edit()">
            <span class="fa fa-edit"></span>
        </button>
        <button class="btn btn-default" (click)="delete()">
            <span class="fa fa-trash"></span>
        </button>
    </div>
</div>